body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
nav a {
    margin-right: 15px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
#container h1 {
    flex-basis: 100%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.video-container {
    box-sizing: border-box;
    flex: 1 1 calc((100% - 5 * 10px) / 6);
}

