body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
nav a {
    margin-right: 15px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
#container h1 {
    flex-basis: 100%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.video-container {
    box-sizing: border-box;
    flex: 1 1 calc((100% - 5 * 15px) / 6);
    cursor: pointer;

}

.video-container img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;
}

.video-title {
    text-align: left;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
}

.video-channel {
    text-align: left;
    font-size: 12px;
    color: gray;
}

.video-player {
    max-height: 80vh;
    aspect-ratio: 16/9;
    border: none;
}
.video-info {
    margin-top: 15px;  
    flex-basis: 100%;
}

@media (max-width: 1200px) {
    .video-container {
        flex: 1 1 calc((100% - 4 * 15px) / 5);
    }
}

@media (max-width: 992px) {
    .video-container {
        flex: 1 1 calc((100% - 3 * 15px) / 4);
    }
}

@media (max-width: 768px) {
    .video-container {
        flex: 1 1 calc((100% - 2 * 15px) / 3);
    }
}

@media (max-width: 576px) {
    .video-container {
        flex: 1 1 calc((100% - 1 * 15px) / 2);
    }
}

@media (max-width: 400px) {
    .video-container {
        flex: 1 1 100%;
    }
}